{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        .bg-brand {
            background-color: #7288fa;
        }
        .text-light-01 {
            color: #333f4e;
        }
        .text-light-02 {
            color: #a3b2c7;
        }
        .custom-shadow {
            box-shadow: 0px 10px 30px 0px rgba(66, 71, 97, 0.1);
        }
        .btn-brand {
            background-color: #7288fa;
            color: #fff;
            border-radius: 20px;
            width: 100%;
        }
        .mt-lg-custom {
            margin-top: 107px;
        }
        .text-brand {
            color: #7288fa;
        }
        .rounded-input {
            border: none;
        }
        .rounded-bg-white {
            border-radius: 10px;
        }
        .input-icon {
            position: relative;
        }
        .input-icon .fa-eye,
        .input-icon .fa-eye-slash {
            position: absolute;
            right: 35px;
            top: 70%;
            transform: translateY(-50%);
            cursor: pointer;
            display: none;
        }
        html, body {
            overflow-x: hidden;
        }
        .invalid-feedback {
            display: none;
            color: red;
        }
    </style>
</head>
<body>
<div class="container-fluid bg-white rounded-lg p-0 ">
    <div class="row">
        <div class=" col-md-5 d-flex flex-column">
            <div class="bg-brand d-flex flex-column flex-grow-1 p-lg-4 p-4">
                <div class="d-flex mt-0 align-items-center">
                    <img src="{% static 'logo.svg' %}" alt="logo">
                    <h2 class="text-white ml-3">Storage</h2>
                </div>
                <h1 class="text-white mt-5">Manage your files the best way</h1>
                <p class="text-white mt-3">Awesome, we've created the perfect place for you to store all your documents.</p>
                <img class="img-fluid w-50 mt-lg-auto mt-5 mx-auto" src="{% static 'file.svg' %}" alt="Storage Image">
            </div>
        </div>

        <div class="col-md-7 d-flex flex-column ">
            <div class="d-flex flex-column align-self-stretch my-auto p-lg-4 p-4">
                <h1 class="text-light-01">Create Account</h1>
                
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error"%}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    {% else %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
                    <form method="post" >
                        {% csrf_token %}
                        <div class="bg-white custom-shadow rounded-bg-white p-1 mt-4">
                            <label class="text-light-01 px-2 mb-1">Username</label>
                            <input type="text" id="username" name="username" class="form-control text-light-02 rounded-input px-2 mt-0" placeholder="Enter your Username" required>
                        </div>
                        <div class="invalid-feedback" id="usernameFeedback">Username must be at least 4 characters and contain only English letters</div>
                        <div class="bg-white custom-shadow rounded-bg-white p-1  mt-4">
                            <label class="text-light-01  px-2 mb-1">Email</label>
                            <input type="email" id="email" name="email"class="form-control text-light-02 rounded-input px-2 mt-0" placeholder="Enter your Email" required>
                        </div>
                        <div class="invalid-feedback" id="emailFeedback">Please enter a valid email address</div>
                        <div class="bg-white custom-shadow rounded-bg-white p-1 mt-4 input-icon">
                            <label class="text-light-01  px-2 mb-1">Password</label>
                            <input type="password" id="password" name="password" class="form-control text-light-02 rounded-input px-2 mt-0" placeholder="Enter Password" required>
                            <i class="fas fa-eye" id="togglePassword" ></i>
                        </div>
                        <div class="invalid-feedback" id="passwordFeedback">Password must be at least 6 characters, including one number, one special character (!@#$%&), one uppercase and one lowercase letter</div>
                        <div class="bg-white custom-shadow rounded-bg-white p-1 mt-4 input-icon">
                            <label class="text-light-01  px-2 mb-1">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="confirmpassword" class="form-control text-light-02 rounded-input px-2 mt-0" placeholder="Confirm Password" required>
                            <i class="fas fa-eye" id="toggleConfirmPassword"></i>
                        </div>
                        <div class="invalid-feedback" id="confirmPasswordFeedback">Passwords do not match</div>
                        
                        <input type="submit" class="btn btn-brand mt-4 " value="Create Account">
                    </form> 
                <p class="text-center text-light-01 mt-4">Already have an account? <a href="{% url 'login' %}" class="text-brand">Login</a></p>
            </div>
        </div>
    </div>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    const togglePassword = document.getElementById('togglePassword');
    const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
    const username = document.getElementById('username');
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const confirmPassword = document.getElementById('confirmPassword');
    const createAccountBtn = document.getElementById('createAccountBtn');
    const usernameFeedback = document.getElementById('usernameFeedback');
    const emailFeedback = document.getElementById('emailFeedback');
    const passwordFeedback = document.getElementById('passwordFeedback');
    const confirmPasswordFeedback = document.getElementById('confirmPasswordFeedback');

    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });

    toggleConfirmPassword.addEventListener('click', function (e) {
        const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        confirmPassword.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });

    username.addEventListener('input', function() {
        validateUsername();
    });

    email.addEventListener('input', function() {
        validateEmail();
    });

    password.addEventListener('input', function() {
        togglePassword.style.display = this.value ? 'block' : 'none';
        validatePassword();
        validateConfirmPassword(); // Check confirm password whenever password changes
    });

    confirmPassword.addEventListener('input', function() {
        toggleConfirmPassword.style.display = this.value ? 'block' : 'none';
        validateConfirmPassword();
    });

    createAccountBtn.addEventListener('click', function (e) {
        if (!validateUsername() || !validateEmail() || !validatePassword() || !validateConfirmPassword()) {
            e.preventDefault();
        }
    });

    function validateUsername() {
        const usernameValue = username.value;
        const usernamePattern = /^[A-Za-z]{4,}$/;
        const isValid = usernamePattern.test(usernameValue);
        if (!isValid && usernameValue) {
            usernameFeedback.style.display = 'block';
            username.classList.add('is-invalid');
        } else {
            usernameFeedback.style.display = 'none';
            username.classList.remove('is-invalid');
        }
        return isValid;
    }

    function validateEmail() {
        const emailValue = email.value;
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const isValid = emailPattern.test(emailValue);
        if (!isValid && emailValue) {
            emailFeedback.style.display = 'block';
            email.classList.add('is-invalid');
        } else {
            emailFeedback.style.display = 'none';
            email.classList.remove('is-invalid');
        }
        return isValid;
    }
        
    function validatePassword() {
        const passwordValue = password.value;
        const passwordPattern = /^(?=.*\d)(?=.*[!@#$%&])(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
        const isValid = passwordPattern.test(passwordValue);
        if (!isValid && passwordValue) {
            passwordFeedback.style.display = 'block';
            password.classList.add('is-invalid');
        } else {
            passwordFeedback.style.display = 'none';
            password.classList.remove('is-invalid');
        }
        return isValid;
    }

    function validateConfirmPassword() {
        const isMatch = password.value === confirmPassword.value;
        if (!isMatch && confirmPassword.value) {
            confirmPasswordFeedback.style.display = 'block';
            confirmPassword.classList.add('is-invalid');
        } else {
            confirmPasswordFeedback.style.display = 'none';
            confirmPassword.classList.remove('is-invalid');
        }
        return isMatch;
    }

    // Initial check to hide icons and feedbacks if inputs are empty on page load
    function initialCheck() {
        if (!password.value) {
            togglePassword.style.display = 'none';
            passwordFeedback.style.display = 'none';
            password.classList.remove('is-invalid');
        }
        if (!confirmPassword.value) {
            toggleConfirmPassword.style.display = 'none';
            confirmPasswordFeedback.style.display = 'none';
            confirmPassword.classList.remove('is-invalid');
        }
    }

    
    
</script>

</body>
</html>